@page
@model webChat.Pages.Posts.IndexModel



@if (Model.Posts.Count == 0)
{
    <p>No posts found.</p>
}
else
{
    foreach (var post in Model.Posts)
    {
        <div class="container" style="max-width: 700px;">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.CreatedAt</p>
                </div>
            </div>
        </div>
    }
}