@page
@model webChat.Pages.Posts.IndexModel

<div class="posts-wrapper">

    @if (Model.Posts.Count == 0)
    {
        <p>No posts found.</p>
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            <div class="post-card">

                <div class="post-header">
                    <img src="@post.ProfileImage" class="avatar" alt="avatar" />
                    <span class="username">@post.AuthorName</span>
                </div>

                <div class="post-title">
                    @post.Title
                </div>

                <div class="post-date">
                    @post.CreatedAt.ToString("dd/MM/yyyy HH:mm")
                </div>

            </div>
        }
    }

</div>